html,
body {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

@media (min-width: 592px) {
  html,
  body {
    overflow: hidden !important;
  }
}

body * {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  line-height: 160%;
}
